body {
  background-color: black; 
  font-family: '8BITWONDERNominal'; 
  font-weight: normal; 
  font-style: normal; 
  -webkit-font-smoothing: antialiased;
}

header {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

main {
  width: 800px;
  margin: 0 auto;
}

.enemy {
  width: 40px;
  display: inline-block;
  right: 0;
  position: absolute;
  background-size: 40px 40px;
  background-repeat: repeat;
}

.scores {
  font-size: 15px;
  position: fixed;
}

#player {
  background-size: cover;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10%;
  bottom: 0;
  display: inline-block;
}

.doge {
  background-image: url("http://i.imgur.com/bxAvTMl.png");
}

.nyan {
  background-image: url("http://i.imgur.com/hgfTVJb.png");
}

#playArea {
  background-image: url("http://www.farmsafetyforjustkids.org/images/fs4jk-background.jpg");
  position: fixed;
  height: 340px;
  width: 800px;
  display: inline-block;
  overflow: hidden;
}

#floor {
  position: fixed;
  top: 415px;
  height: 20px;
  width: 800px;
  display: inline-block;
  background-image: url("http://i.imgur.com/2bP1t6x.png");
}

#enemy1 {
  bottom: 0;
  height: 120px;
}

#enemy2 {
  bottom: 20%;
  height: 120px;
}

#enemy3 {
  bottom: 30%;
  height: 120px;
}

#enemy4 {
  bottom: 50%;
  height: 120px;
}

#enemy5 {
  bottom: 65%;
  height: 120px;
}

#score {
  top: 40px;
}

#highScore {
  top: 20px;
}

#start {
  position: fixed;
  width: 100px;
  height: 24px;
  background-size: 100%;
  background-image: url("http://i.imgur.com/pOFcVbB.png"); 
  left: 45%;
  top: 25%;
  cursor: pointer;
}

#endScreen {
  position: fixed;
  top: 15%;
  text-align: center;
  width: 800px;
}

#changeMeme {
  position: fixed;
  bottom: 40%;
  left: 45%;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  background-color: white;
  border-color: gray;
  cursor: pointer;
}

#sadMeme {
  position: fixed;
  width: 160px;
  height: 160px;
  background-image: url("http://i.imgur.com/0ZLP1X4.png");
  background-size: cover;
  opacity: 0.1;
  top: 31%;
  left: 42%;
  display: none;
}

#sadMeme p {
  text-align: center;
  margin-top: -100px;
}
