body {
  background-color: black; 
  font-family: '8BITWONDERNominal'; 
  font-weight: normal; 
  font-style: normal; 
}

header {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

main {
  width: 800px;
  margin: 0 auto;
}


#player {
  background-image: url("http://i.imgur.com/ugjOpNp.jpg");
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10%;
  bottom: 70%;
  display: inline-block;
}

#playArea {
  border: 1px dotted black;
  background-color: white; 
  position: fixed;
  height: 340px;
  width: 800px;
  display: inline-block;
}

#floor {
  position: fixed;
  top: 415px;
  height: 40px;
  width: 800px;
  display: inline-block;
  background-image: url("http://i.imgur.com/0cD7Y90.png");
}

.enemy {
  background-image: url("http://i.imgur.com/GuuWOtW.png");
  width: 40px;
  display: inline-block;
  right: 0;
  position: absolute;
}

#enemy1 {
  bottom: 0;
  height: 120px;
}

#enemy2 {
  bottom: 30%;
  height: 120px;
}

#enemy3 {
  bottom: 220px;
  height: 120px;
}

#score {
  font-size: 15px;
  position: fixed;
  /*left: 20px;*/
  top: 40px;
}

#highScore {
  font-size: 15px;
  position: fixed;
  /*left: 20px;*/
  top: 20px;
}