#player {
  background: blue;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10%;
  bottom: 0;
  display: inline-block;
}

#playArea {
  position: fixed;
  height: 320px;
  width: 800px;
  border: 1px solid black;
  border-bottom: 20px solid lime;
  display: inline-block;
}

#death {
  background: red;
  width: 40px;
  height: 80px;
  display: inline-block;
  bottom: 0;
  right: 0;
  position: absolute;
}

#deathWall {
  background: red;
  width: 40px;
  height: 100%;
  display: inline-block;
  bottom: 0;
  right: 0;
  position: absolute;
}

#score {
  background: gray;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
}